<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NEU MEDI-CARE</title>
    <link rel="stylesheet" href="../styles/page2.css" />
    <link rel="stylesheet" href="../styles/page1.css" />
  </head>
  <body>
    <div class="central2">
      <div class="pep4">
        <h1><span class="the-a">A</span>ppointment Rescheduling</h1>
        <br /><br />
        <form action="">
          <label for="">Appointment Time:</label>
          <select name="" id="">
            <optgroup>
              <option value="12am">12am</option>
              <option value="12pm">12pm</option>
            </optgroup></select
          ><br /><br />

          <label for="">Appointment Date:</label>
          <input type="Date" name="" /><br /><br />
        </form>
        <div>
          <a href="page8.html">
            <input type="submit" value="Confirm" class="next" />
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
