<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NEU MEDI-CARE</title>
    <link rel="stylesheet" href="../styles/page2.css" />
    <link rel="stylesheet" href="../styles/page1.css" />
  </head>

  <body>
    <div class="nav">
      <nav>
        <div class="left">
          <a href="page9.html">
            <button class="btn-two">Profile</button>
          </a>

          <a href="page1.html">
            <button class="btn-one">Logout</button>
          </a>
        </div>
        <div class="middle">
          <a href="page1.html">Home</a>
          <a href="page7.html">Book Appointment</a>
        </div>
        <div class="right">
          <h1><span class="the-a">NE</span>U MEDI-CARE</h1>
        </div>
      </nav>
    </div>

    <div class="central">
      <div class="pep2">
        <h1><span class="the-a">A</span>ppointment Booking</h1>
        <br /><br />
        <form action="" method="">
          <label for="">Appointment Type:</label>
          <select name="" id="">
            <optgroup>
              <option value="Offline(In Person)">Offline(In-person)</option>
              <option value="Online">Online</option>
            </optgroup></select
          ><br /><br />
          <label for="">Doctor:</label>
          <select name="" id="">
            <optgroup>
              <option value="Choose Doctor...">Choose Doctor..</option>
              <option value="Cardiology">Cardiology</option>
              <option value="Dental Health">Dental Health</option>
              <option value="Dermatology">Dermatology</option>
              <option value="Emergency">Emergency</option>
              <option value="General">General</option>
              <option value="Gynaecology">Gynaecology</option>
              <option value="Internal Medcine">Internal Medcine</option>
              <option value="Laboratory">Laboratory</option>
              <option value="Orthopaedics">Orthopaedics</option>
              <option value="Pediatrics">Pediatrics</option>
              <option value="Surgeon">Surgeon</option>
              <option value="Urology">Urology</option>
            </optgroup>
          </select>

          <br /><br />
          <label for=""> Appointment Time:</label>
          <select name="" id="">
            <optgroup>
              <option value="12am">12am</option>
              <option value="12pm">12pm</option>
            </optgroup></select
          ><br /><br />
          <label for="">Appointment Date:</label>
          <input type="date" name="" />
          <br /><br />
          <label for="">Reason for Appointment:</label>
          <textarea class="textarea"></textarea>
        </form>
        <div>
          <a href="page8.html">
            <input type="submit" value="Submit" class="next" />
          </a>
        </div>
      </div>
    </div>

    <br />
    <div class="first2">
      <div class="second1">
        <h2>HOSPITAL</h2>
        <br />
        <p>Near East Hospital</p>
        <br />
        <p>Location</p>
        <br />
        <p>Amenities</p>
      </div>
      <div class="second2">
        <h2>INFORMATION</h2>
        <br />
        <p>Useful Information on Health</p>
        <br />
        <p>Privacy Policy</p>
        <br />
        <p>Terms and Condition</p>
      </div>

      <div class="second3">
        <h2>QUICK LINKS</h2>
        <br />
        <p>Home</p>
        <br />
        <p>Appointment Booking</p>
        <br />
        <p>Login</p>
        <br />
        <p>Sign Up</p>
      </div>

      <div class="second4">
        <h2>PATIENT CARE</h2>
        <br />
        <p>Patient Rights and Responsibilities</p>
        <br />
        <p>Hospital Assisting Attendant Responsibility</p>
        <br />
        <p>Patient Testimonials</p>
      </div>

      <div class="second5">
        <h2>CONTACT</h2>
        <br />
        <p>+90 392 4440 535</p>
        <br />
        <p>info@med.edu.tr</p>
      </div>
    </div>
    <div class="p1">
      <p>NEU MEDI-CARE &copy; Copyright 2023</p>
    </div>
  </body>
</html>
