<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NEU MEDI-CARE</title>
    <link rel="stylesheet" href="../styles/page2.css" />
    <link rel="stylesheet" href="../styles/page1.css" />
  </head>
  <body>
    <div class="central2">
      <div class="pep6">
        <h2>
          <span class="the-a">A</span>re you sure you want to cancel your
          Appointment?
        </h2>
        <br />
        <div>
          <a href="page1.html">
            <input type="submit" value="Yes" class="yes" />
          </a>

          <a href="page9.html">
            <input type="submit" value="No" class="no" />
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
