/* css inheritance shows when the body element i placed in the style which inherits all the attributes */
        
body {    
    color:  chocolate;
    font-family: verdana, Arial, Geneva,  Arial Black;
    

  
}
h1, h2{
    border-bottom: 1px solid black;
    background-color: aquamarine;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h1{
    color: beige;
    font-weight: bolder;
    
}
p.Blue {
    color:  skyblue;
   font-size: 20px;
   font-weight: bold;
   
}

p.Green {
color:  forestgreen ;
font-size: 20px;
font-weight: lighter;

}

.underline {
text-decoration: underline;
}